## Misc
alias fucking='sudo'

## Docker
alias dc='docker-compose'
alias dcu='docker-compose up'
alias dcud='docker-compose up -d'
alias dcd='docker-compose down'
alias dcre='docker-compose restart'
alias dce='docker-compose exec'
alias dcr='docker-compose run --rm'
alias dcb='docker-compose build'
alias dcdud='docker-compose down && docker-compose up -d'

## Vim
alias vim='nvim'
alias vi='nvim'
